@import "../../variables";

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //border: 1px solid lightgrey;
  transition: 0.25s ease;

  background: $dark;

  img {
    width: 100%;
    opacity: 0.5;
    transition: 0.25s ease;
  }
  .info {
    opacity: 0.5;
    color: $light;
    text-align: center;
    padding: 1rem;

    h2 {
      margin: 0;
    }

    h3 {
      margin: 1rem 0 0 0;
    }

    button {
      margin-top: 1rem;
      background: $light;
      border: none;
      color: $dark;
      padding: 1rem 2rem;
      transition: 0.25s ease;
      text-transform: uppercase;
      &:hover {
        background: darken($light, 20);
      }
    }
  }
  &:hover {
    img,
    .info {
      opacity: 1;
    }
  }
}
