.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.6);
  height: 60px;
  z-index: 1;

  .title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .checkoutButton {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    transition: 0.25s ease;
    color: white;
    svg {
      margin-right: 1rem;
    }
    &:hover {
      background: white;
      color: black;
    }
  }
}
